* {
  color: black;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

h1, option, span, label, h2, form { 
  color: black;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0;
  min-width: 100%;
}

h1 { 
  color: white;
  background-color: #2fbfc4;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px;
  cursor: pointer;
}

#minimum-ranking {
  text-align: center;
  line-height: 20px;
  margin: 10px 0px;
}

label, input, select {
  display: block;
  margin: 0 auto;
}


.bookmark {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 15px 0px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  min-width: 100%;
}

.unopen {
  background-color: #e2fcff;
  cursor: pointer;
}
.open, form {
  background-color: #2fbfc4;
  cursor: default;
}

span, form, label, legend, div {
  background-color: inherit;
}

.unopen:hover {
  background-color: #2fbfc4;
  cursor: pointer;
}

html {
  min-height: 100%;
  background-image: linear-gradient(white,#e2fcff);
}

main {
  position: fixed;
  top: 200px;
  width: 100%;
}

li {
  margin-top: 10px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.condensed-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: space-around;
}